mat-card {
    margin: 20px;
}

mat-expansion-panel-header {
    margin: 0%;
}

.game-name {
    margin-top: 20px;
}

.resource, .card {
    width: 100%;
}

.material-icons {
    font-size: 18px;
}

.parameter {
    margin: 20px 0px;
}

.title {
    font-size: 20px;
    font-weight: 500
}