<section *ngFor="let game of gamesSelecteds">
  <h3 class="game-name mt-4">{{game.name}}</h3>
  
  <!-- COMPONENTS -->
  <div *ngIf="game.mechanic.components.length > 0"> 
    <h4 class="mt-2 mb-3">Escolha as mídias de cada componente:</h4>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let component of game.mechanic.components">
        <mat-expansion-panel-header class="row">
          <mat-panel-title class="col-md-6">
            {{component.name}}
          </mat-panel-title>
          <mat-panel-description class="col-md-6">
            {{component.purpose}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <section>
          <div *ngFor="let resourceType of component.resourceTypes">
            <div class="card">
              <div class="card-body" *ngIf="resourceType.name === 'Texto'">
                <h5 class="card-title float-left">Texto</h5>
                <mat-icon class="float-left ml-2" mat-raised-button (click)="openMediaDialog(resourceType, component, game)">add_circle_outline</mat-icon>
                <div class="clearfix"></div>
                <table class="table table-hover">
                  <tbody>
                    <tr *ngFor="let resource of getComponentResources(game.id, component.id, resourceType.id)">
                      <td>{{resource.resource.content}}</td>
                      <td *ngIf="component.tag == 'perguntas'">
                        <mat-select placeholder="Papel" required>
                          <mat-option *ngFor="let role of roles" [value]="role.name" (click)="resource.role = role.value">
                            {{role.name}}
                          </mat-option>
                        </mat-select>
                      </td>
                      <td *ngIf="resource.role && resource.role !== 'problem'">
                        <mat-select placeholder="Pergunta" required>
                          <mat-option *ngFor="let problem of getProblemResources()" [value]="problem.resource.content">
                            {{problem.resource.content}}
                          </mat-option>
                        </mat-select>
                      </td>
                      <td>
                        <button class="btn mt-1 ml-2" mat-button (click)="removeComponentResource(resource.resource.content, component.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-body" *ngIf="resourceType.name !== 'Texto'">
                <h5 class="card-title float-left">
                  {{resourceType.name}} 
                </h5>
                <mat-icon class="float-left ml-2" mat-raised-button (click)="openMediaDialog(resourceType, component, game)">add_circle_outline</mat-icon>
                <div class="clearfix"></div>
                <div class="row">
                  <div *ngFor="let content of getComponentContentResources(game.id, component.id, resourceType.id)" class="col-md-4">
                    <img *ngIf="resourceType.name === 'Imagem'" class="resource" src="{{content}}" alt="Card image cap">
                    
                    <audio *ngIf="resourceType.name === 'Áudio'" controls class="resource">
                      <source src="{{content}}" type="audio/ogg">
                    </audio>
                    
                    <video *ngIf="resourceType.name === 'Vídeo'" controls class="resource">
                      <source src="{{content}}" type="video/mp4">
                    </video>

                    <div class="text-center">
                      <button class="btn mt-1" mat-button (click)="removeComponentResource(content, component.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </section>
      </mat-expansion-panel> 
    </mat-accordion>
  </div>

  <!-- PARAMETERS -->
  <div *ngIf="game.mechanic.parameters.length > 0">
    <h4 class="mt-2 mb-3" style="display: inline" 
      matTooltip="Parâmetros guiarão os objetivos dos jogadores"
      matTooltipPosition="right">Escolha os parâmetros e suas representações:</h4>
    <div class="clearfix"></div> 

    <button class="btn btn-info mb-2 mt-2" (click)="openNewParameterDialog()">Adicionar Novo</button>

    <mat-card *ngFor="let parameter of game.mechanic.parameters" class="parameter">
      <mat-checkbox (change)="checkParameter(parameter)" >
        <span class="title">{{parameter.name}}</span>
      </mat-checkbox>

      <div class="clearfix"></div>

      <mat-card-subtitle>{{parameter.description}}</mat-card-subtitle>

      <mat-card-content *ngIf="parameter.isSelected" class="row">
        <div class="card-body col-md-4">
          <h5 class="card-title">
            Imagem 
            <mat-icon class="float-right" mat-raised-button (click)="openImageDialog(parameter, game)">create</mat-icon>
          </h5>
          <img class="resource" src="{{getParameterContentResource(game.id, parameter.id)}}" alt="Card image cap">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<div class="text-center mt-4">
  <button class="btn btn-info mr-2" mat-button (click)="emitPreviousStep()">Anterior</button>
  <button class="btn btn-success mr-2" (click)="emitProjectStepThree()">Salvar</button>
</div>