<h2 class="mb-5">Instituições</h2>

<form [formGroup]="formGroup">
  <!--Nome-->
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Nome da instituição" formControlName="institutionName" maxlength="50" required>
    </mat-form-field>
</form>
<div>
  <button class="btn btn-success float-right" (click)="saveInstitution()">Salvar</button>
</div>

<div class="table-responsive table-top">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Instituição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let institution of institutions">
        <td>{{institution.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-paginator [numberOfPages]="pages" (pageChange)="onChangePageClick($event)"></app-paginator>