<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image"> 
          <img src={{avatar}} (error)="imageError($event)" alt="image"/> 
          <span class="online-status online"></span> 
        </div>
        <div class="profile-name">
          <p class="name">{{name}}</p>
          <p class="designation">{{description}}</p>
        </div>
      </div>
    </li>
    <li class="nav-item" *ngIf="!isHelper">
      <a class="nav-link" routerLink="/projects">
        <span class="menu-title">Projetos</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!isHelper">
      <a class="nav-link" routerLink="/players">
        <span class="menu-title">Jogadores</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!isHelper">
      <a class="nav-link" routerLink="/groups">
        <span class="menu-title">Famílias</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!isHelper">
      <a class="nav-link" routerLink="/institutions">
        <span class="menu-title">Instituições</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!isHelper">
      <a class="nav-link" routerLink="/users">
        <span class="menu-title">Usuários</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/medias">
        <span class="menu-title">Mídias</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!isHelper">
      <a class="nav-link" routerLink="/games">
        <span class="menu-title">Jogos</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="!isHelper">
      <a class="nav-link" routerLink="/thematic">
        <span class="menu-title">Temáticas</span>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <span class="menu-title">Sair</span>
        </a>
    </li>
  </ul>
</nav>