<h2 class="mb-5">Projetos</h2>
<div class="float-right">
  <a class="btn btn-success" routerLink="/newproject">Adicionar</a>
</div>
<div class="clearfix"></div>
<mat-tab-group class="mb-3">
  <mat-tab label="Supervisor" *ngIf="supervisor" (click)="onChangeTab('supervisor')">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Objetivo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of supervisorProjects" (click)="onProjectClick(project.id)">
            <td>{{project.name}}</td>
            <td>{{project.objective}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Facilitador"  *ngIf="helper" (click)="onChangeTab('helper')">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Objetivo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of helperProjects" (click)="onProjectClick(project.id)">
            <td>{{project.name}}</td>
            <td>{{project.objective}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>

<app-paginator [numberOfPages]="pages" (pageChange)="onChangePageClick($event)"></app-paginator>