<app-spinner></app-spinner>
<app-modal></app-modal>
<div class="container-fluid page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
        <div class="content-wrapper">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </div>
</div>
