<h2 class="mb-5">Novo Usuário</h2>
<form [formGroup]="formGroup">
  <div class="row">
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Nome" formControlName="userFirstName" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Sobrenome" formControlName="userLastName" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-md-6">
      <input matInput placeholder="E-mail" formControlName="userEmail" required>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>
    <mat-form-field class="col-md-3">
      <input matInput placeholder="Senha" type="password" formControlName="userPassword" required>
    </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field class="col-md-6">
        <mat-select required formControlName="userRole">
          <mat-option value="h">Facilitador</mat-option>
          <mat-option value="s">Supervisor</mat-option>
        </mat-select>
        <mat-label>Papel</mat-label>
      </mat-form-field>
    <!--Instituição-->
    <mat-form-field class="col-md-6" *ngIf="formGroup.get('userRole').value === 's'">
      <mat-select required formControlName="supervisorInstitution">
        <mat-option *ngFor="let institution of institutions" value="{{institution.id}}">{{institution.name}}</mat-option>
        <mat-option value="Outra">Outra</mat-option>
      </mat-select>
      <mat-label>Instituição</mat-label>
    </mat-form-field>
    <mat-form-field class="col-md-6" *ngIf="formGroup.get('userRole').value === 'h'">
      <mat-select multiple required formControlName="helperInstitution">
        <mat-option *ngFor="let institution of institutions" value="{{institution.id}}">{{institution.name}}</mat-option>
        <mat-option value="Outra">Outra</mat-option>
      </mat-select>
      <mat-label>Instituição</mat-label>
    </mat-form-field>
  </div>
  <div class="row" *ngIf="outraInstituicao === true">
    <!--Outra instituição-->
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Nome da instituição" formControlName="institutionName" maxlength="50" required>
    </mat-form-field>
  </div>
  
  <div class="row">
      <mat-form-field class="col-md-12" *ngIf="formGroup.get('userRole').value === 's'">
        <input type="url" matInput placeholder="Avatar" formControlName="avatarUrl">
      </mat-form-field>
    </div>
  <div class="row">
    <mat-form-field class="col-md-6" *ngIf="formGroup.get('userRole').value === 's'">
      <mat-select required formControlName="userOccupation">
        <mat-option *ngFor="let occupation of occupations" value="{{occupation.occupation}}" >{{occupation.occupation}}</mat-option>
        <mat-option value="Outra" >Outra</mat-option>
      </mat-select>
      <mat-label>Ocupação</mat-label>
    </mat-form-field>
    <mat-form-field class="col-md-6" *ngIf="formGroup.get('userRole').value === 's' && formGroup.get('userOccupation').value === 'Outra'">
      <input matInput placeholder="Outra ocupação" formControlName="userOccupation2" required>
    </mat-form-field>
  </div>

  <div *ngIf="formGroup.get('userRole').value === 'h'">
    <h4 class="mt-4 mb-4">Conhecimentos</h4>
    <mat-selection-list #skillSelected>
      <div class="row">
        <mat-list-option class="col-md-4" *ngFor="let skill of skills" (click)="setSkills(skillSelected.selectedOptions.selected)">
          {{skill.skill}}
        </mat-list-option>
      </div>
    </mat-selection-list>
    <div class="row">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Outros (separado por vírgulas)" formControlName="moreSkills">
      </mat-form-field>
    </div>
  </div>
</form>
<div class="text-center mt-4">
  <button class="btn btn-success" (click)="saveNewUser()">Salvar</button>
</div>
