<h2 class="mb-5">Jogadores</h2>
<div class="float-right">
  <a class="btn btn-success" routerLink="/newplayer">Adicionar</a>
</div>
<div class="table-responsive table-top">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="30%">Nome</th>
        <th width="50%">Família</th>
        <th width="20%">Username</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of playersData" (click)="onPlayerClick(player)">
        <td>{{player.player_name}}</td>
        <td>{{player.player_group?.name}}</td>
        <td>{{player.player_username}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-paginator [numberOfPages]="pages" (pageChange)="onChangePageClick($event)"></app-paginator>
