<h2 class="mb-4">Novo Projeto</h2>
<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- STEP ONE -->
  <mat-step>
    <ng-template matStepLabel>Preencha os dados do projeto</ng-template>
    <app-step-one (nextStepClick)="onStepOneNextClick($event, stepper)"></app-step-one>
  </mat-step>

  <!-- STEP TWO -->
  <mat-step>
    <ng-template matStepLabel>Escolha os jogos</ng-template>
    <app-step-two (previousStepClick)="onPreviousStepClick(stepper)" (nextStepClick)="onStepTwoNextClick($event, stepper)"></app-step-two>
  </mat-step>

  <!-- STEP THREE -->
  <mat-step>
    <ng-template matStepLabel>Customize o jogo</ng-template>
    <app-step-three (previousStepClick)="onPreviousStepClick(stepper)" (saveClick)="onStepThreeSaveClick($event)" [gamesSelecteds]="gamesSelecteds"></app-step-three>
  </mat-step>
</mat-horizontal-stepper>