<div id="genericModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{{content}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="leftButton">{{leftButton}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="customCallback()" *ngIf="rightButton">{{rightButton}}</button>
            </div>
        </div>
    </div>
</div>
