.flex-container {
    align-content: space-between;
    justify-content: space-between;
    display: flex;
}

.remove-button {
    align-self: flex-end;
    width: 150px;
}

.add-button {
    width: 300px
}