<h2 class="mb-5">Novo Jogo</h2>
<form [formGroup]="formGroup">
  <div class="row">
    <!--Nome-->
    <mat-form-field class="col-md-4">
      <input matInput placeholder="Nome" formControlName="gameName" required>
    </mat-form-field>
    <!--Plataforma-->
    <mat-form-field class="col-md-4">
      <mat-select required formControlName="gamePlatform">
        <mat-option *ngFor="let platform of platforms" value="{{platform.id}}" >{{platform.name}}</mat-option>
        <mat-option value="Outra">Outra</mat-option>
      </mat-select>
      <mat-label>Plataforma</mat-label>
    </mat-form-field>
    <!--Outra Plataforma-->
    <mat-form-field class="col-md-4" *ngIf="formGroup.get('gamePlatform').value === 'Outra'">
      <input matInput placeholder="Outra plataforma" formControlName="gamePlatformName" required>
    </mat-form-field>
  </div>

  <h4 class="mb-1 mt-2">Mecânica</h4>
  <div class="row">
    <!--Nome da mecânica-->
    <mat-form-field class="col-md-3">
      <input matInput placeholder="Nome da mecânica" formControlName="mechanicName" required>
    </mat-form-field>
    <!--Descrição da mecânica-->
    <mat-form-field class="col-md-9">
      <input matInput placeholder="Descrição" formControlName="mechanicDescription" required>
    </mat-form-field>
  </div>
  <div class="row">
    <!--Regras-->
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Regras (separadas por vírgulas)" formControlName="mechanicRules">
    </mat-form-field>
  </div>

  <div formArrayName="components" *ngFor="let component of components.controls; let i=index">
    <div formGroupName="{{i}}">
      <div class="flex-container">
        <h4 class="mb-1 mt-2">Componente {{i+1}}</h4>
        <button class="btn btn-danger remove-button" (click)="removeComponent(i)">Remover</button>
      </div>
      <div class="row">
        <!--Nome do componente-->
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Nome do Componente" formControlName="componentName" required>
        </mat-form-field>
        <!--Propósito do componente-->
        <mat-form-field class="col-md-9">
          <input matInput placeholder="Propósito" formControlName="componentPurpose" required>
        </mat-form-field>
      </div>
      <div class="row">
        <!--Tipos de recurso do componente-->
        <mat-form-field class="col-md-3">
          <mat-select multiple required formControlName="componentResourceTypes">
            <mat-option *ngFor="let resourceType of resourceTypes" value="{{resourceType.name}}" >{{resourceType.name}}</mat-option>
          </mat-select>
          <mat-label>Tipos de Recurso</mat-label>
        </mat-form-field>
        <!--Tags do componente-->
        <mat-form-field class="col-md-9">
          <input matInput placeholder="Tag" formControlName="componentTag" required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary mb-3 add-button" (click)="addComponent()">Adicionar componente</button>
  </div>

  <div formArrayName="parameters" *ngFor="let parameter of parameters.controls; let i=index">
    <div formGroupName="{{i}}">
      <div class="flex-container">
        <h4 class="mb-1 mt-2">Parametro {{i+1}}</h4>
        <button class="btn btn-danger remove-button" (click)="removeParameter(i)">Remover</button>
      </div>
      <div class="row">
        <!--Nome do parâmetro-->
        <mat-form-field class="col-md-3">
          <input required matInput placeholder="Nome do parâmetro" formControlName="parameterName">
        </mat-form-field>
        <!--Descrição do parâmetro-->
        <mat-form-field class="col-md-6">
          <input required matInput placeholder="Descrição do parâmetro" formControlName="parameterDescription">
        </mat-form-field>
        <!--Tipo do parâmetro-->
        <mat-form-field class="col-md-3">
          <mat-select formControlName="parameterType">
            <mat-option value="SYMBOLIC">Simbólico</mat-option>
            <mat-option value="NUMERIC">Numérico</mat-option>
          </mat-select>
          <mat-label>Tipo do parâmetro</mat-label>
        </mat-form-field>
      </div>
      <div class="row">
        <!--Atributos do parâmetro-->
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Atributos (separados por vírgulas)" formControlName="parameterAttributes">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary mb-3 add-button" (click)="addParameter()">Adicionar parâmetro</button>
  </div>
</form>
<div class="text-center mt-4">
  <button class="btn btn-success" (click)="saveNewGame()">Salvar</button>
</div>
