<section class="row">
  <h3>{{resourceType}}</h3>
  <form class="form-inline ml-4" *ngIf="resourceType === 'Texto'">
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Adicione um novo" [(ngModel)]="newText" name="newText">
    <button type="submit" class="btn btn-primary mb-2" (click)="createText()">Adicionar</button>
  </form>
  <form class="form-inline ml-4" *ngIf="resourceType === 'Imagem'">
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Adicione um novo" [(ngModel)]="newImage" name="newImage">
    <button type="submit" class="btn btn-primary mb-2" (click)="createImage()">Adicionar</button>
  </form>
  <form class="form-inline ml-4" *ngIf="resourceType === 'Áudio' || resourceType === 'Audio'">
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Adicione um novo" [(ngModel)]="newAudio" name="newAudio">
    <button type="submit" class="btn btn-primary mb-2" (click)="createAudio()">Adicionar</button>
  </form>
  <form class="form-inline ml-4" *ngIf="resourceType === 'Vídeo' || resourceType === 'Video'">
    <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Adicione um novo" [(ngModel)]="newVideo" name="newVideo">
    <button type="submit" class="btn btn-primary mb-2" (click)="createVideo()">Adicionar</button>
  </form>

  <mat-radio-group [(ngModel)]="resourceSelected">
    <mat-radio-button *ngFor="let resource of resources" class="col-md-6" value="{{resource.id}}">
      <div class="card float-left">
        <div class="card-body">
          <p class="card-text resource" *ngIf="resourceType === 'Texto'">{{resource.content}}</p>
         
          <img class="resource" src="{{resource.content}}" alt="Card image cap" *ngIf="resourceType === 'Imagem'">
          
          <audio controls class="resource" *ngIf="resourceType === 'Áudio' || resourceType === 'Audio'">
            <source src="{{resource.content}}" type="audio/ogg">
          </audio>
          
          <video controls class="resource" *ngIf="resourceType === 'Vídeo' || resourceType === 'Video'">
            <source src="{{resource.content}}" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="clearfix"></div>
    </mat-radio-button>
  </mat-radio-group>
  <div class="text-center">
    <button type="submit" class="btn btn-success" (click)="closeDialog()">Salvar</button>
  </div>
</section>