
mat-radio-group, .card-body > img {
    width: 100%;
}

section {
    min-width: 30vw;
    min-height: 30vh;
    max-width: 70vw;
    max-height: 70vh;
    padding: 15px;
}

.text-center {
    width: 100%;
    margin-bottom: 20px;
}