<h2 class="mb-5">Famílias</h2>

<form [formGroup]="formGroup">
  <!--Nome-->
    <mat-form-field class="col-md-3">
      <input matInput placeholder="Família" formControlName="groupName" maxlength="50" required>
    </mat-form-field>
    <mat-form-field class="col-md-9">
        <input matInput placeholder="Descrição" formControlName="groupDescription" maxlength="150">
    </mat-form-field>
</form>
<div>
  <button class="btn btn-success float-right" (click)="saveGroup()">Salvar</button>
</div>

<div class="table-responsive table-top">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="30%">Família</th>
        <th width="70%">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups" (click)="onGroupClick(group)">
        <td>{{group.name}}</td>
        <td>{{group.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-paginator [numberOfPages]="pages" (pageChange)="onChangePageClick($event)"></app-paginator>
