<form [formGroup]="formGroup">
  <!--Nome-->
    <mat-form-field class="col-md-3">
      <input matInput placeholder="Temática" formControlName="thematicName" maxlength="50" required>
    </mat-form-field>
    <mat-form-field class="col-md-9">
        <input matInput placeholder="Descrição" formControlName="thematicDescription" maxlength="150">
    </mat-form-field>
</form>
<div>
  <button class="btn btn-success float-right" (click)="saveThematic()">Salvar</button>
</div>

<div class="table-responsive table-top">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="30%">Temática</th>
        <th width="70%">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let thematic of thematics" (click)="onGroupClick(group)">
        <td>{{thematic.name}}</td>
        <td>{{thematic.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-paginator [numberOfPages]="pages" (pageChange)="onChangePageClick($event)"></app-paginator>
