<h2 class="mb-5">{{projectDetail.name}}</h2>
<hr>
<label>Objetivo: &nbsp;</label>
<span>{{projectDetail.objective}}</span>
<br>
<label>Tarefa gerais: &nbsp;</label>
<span>{{projectDetail.general_task}}</span>
<hr>
<h4 class="mt-4">Jogos</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Plataforma</th>
        <th>Mecânica</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games" (click)="onGameClick(game)">
        <td>{{game.name}}</td>
        <td>{{game.platform.name}}</td>
        <td>{{game.mechanic.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h4 class="mt-4">Usuários</h4>
<mat-tab-group>
  <mat-tab label="Jogadores">
    <table class="table table-hover" *ngIf="projectDetail.players.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Capacidades</th>
          <th>Família</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of projectDetail.players">
          <td>{{player?.user?.first_name}} {{player?.user?.last_name}}</td>
          <td>{{player?.capability?.capability}}</td>
          <td>{{player?.group?.name}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-success mr-2">Adicionar</button>
    </div>
  </mat-tab>
  <mat-tab label="Supervisores">
    <table class="table table-hover" *ngIf="projectDetail.supervisors.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ocupação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supervisor of projectDetail.supervisors">
          <td>{{supervisor?.user?.first_name}} {{supervisor?.user?.last_name}}</td>
          <td>{{supervisor?.occupation?.occupation}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-success mr-2">Adicionar</button>
    </div>
  </mat-tab>
  <mat-tab label="Facilitadores">
    <table class="table table-hover" *ngIf="projectDetail.helpers.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Habilidades</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let helper of projectDetail.helpers">
          <td>{{helper?.user?.first_name}} {{helper?.user?.last_name}}</td>
          <td>{{helper?.skill?.skill}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-success mr-2">Adicionar</button>
    </div>
  </mat-tab>
</mat-tab-group>