<h2 class="mb-5">Novo Jogador</h2>
<form [formGroup]="formGroup">
  <!--Nome-->
  <div class="row">
    <mat-form-field class="col-md-6">
      <input matInput placeholder="Nome" formControlName="playerName" required>
    </mat-form-field>
  <!--Sobrenome-->
    <mat-form-field class="col-md-6">
      <input matInput placeholder="Sobrenome" formControlName="playerLastName" required>
    </mat-form-field>
  </div>

  <div class="row">
    <!--E-mail-->
    <mat-form-field class="col-md-6">
      <input type="email" matInput placeholder="E-mail" formControlName="playerEmail" required>
    </mat-form-field>
      <!--Aniversário-->
    <mat-form-field class="col-md-3">
      <input matInput [matDatepicker]="picker" [max]="today" placeholder="Data de Nascimento (dd/mm/aaaa)" formControlName="playerBirthdate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!--Sexo-->
    <mat-form-field class="col-md-3">
      <mat-select required formControlName="playerGender">
        <mat-option value="M">Masculino</mat-option>
        <mat-option value="F">Feminino</mat-option>
      </mat-select>
      <mat-label>Sexo</mat-label>
    </mat-form-field>
  </div>
  <div class="row">
    <!--Família-->
    <mat-form-field class="col-md-4">
      <mat-select placeholder="Família" formControlName="groupSelector" required>
        <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</mat-option>
        <mat-option value="Outra">Outra</mat-option>
      </mat-select>
    </mat-form-field>
    <!--Instituição-->
    <mat-form-field class="col-md-4">
      <mat-select placeholder="Instituição" formControlName="institutionSelector" required>
        <mat-option *ngFor="let institution of institutions" [value]="institution.id">{{institution.name}}</mat-option>
        <mat-option value="Outra">Outra</mat-option>
      </mat-select>
    </mat-form-field>
    <!--Username-->
    <mat-form-field class="col-md-2">
      <input matInput placeholder="Username" formControlName="playerUsername" required>
    </mat-form-field>
    <!--Senha-->
    <mat-form-field class="col-md-2">
      <input matInput placeholder="Senha" type="password" formControlName="playerPassword" required>
    </mat-form-field>
  </div>

  <div class="row" *ngIf="formGroup.get('groupSelector').value === 'Outra'">
    <!--Outra família-->
    <mat-form-field class="col-md-3">
      <input matInput placeholder="Família" formControlName="groupName" maxlength="50" required>
    </mat-form-field>
    <mat-form-field class="col-md-9">
        <input matInput placeholder="Descrição da família" formControlName="groupDescription" maxlength="150" required>
    </mat-form-field>
  </div>

  <div class="row" *ngIf="formGroup.get('institutionSelector').value === 'Outra'">
    <!--Outra instituição-->
    <mat-form-field class="col-md-12">
      <input matInput placeholder="Nome da instituição" formControlName="institutionName" maxlength="50" required>
    </mat-form-field>
  </div>

  <!--Habilidades-->
  <h4 class="mt-4 mb-4">Habilidades</h4>
  <mat-selection-list #capabilitiesSelected>
    <mat-list-option class="col-md-4" *ngFor="let capability of capabilities" (click)="setCapabilities(capabilitiesSelected.selectedOptions.selected)">
      {{capability.capability}}
    </mat-list-option>
  </mat-selection-list>

  <!--Outras habilidades-->
  <div class="row">
    <mat-form-field class="col-md-12">
      <input type="text" matInput placeholder="Outras habilidades (separadas por vírgulas)" formControlName="moreCapabilities">
    </mat-form-field>
  </div>
</form>

<div class="text-center mt-4">
  <button class="btn btn-success" (click)="savePlayer()">Salvar</button>
</div>
