<h2 class="mb-5">Mídias</h2>
<div class="float-right">
  <a class="btn btn-success" routerLink="/newmedia">Adicionar</a>
</div>
<div class="mt-3 mb-4 row">
  <mat-select class="col-md-3" placeholder="Escolha um tipo de mídia:" (valueChange)="onResourceTypeChange($event)">
    <mat-option value="2">Imagens</mat-option>
    <mat-option value="3">Áudios</mat-option>
    <mat-option value="1">Textos</mat-option>
    <mat-option value="4">Vídeos</mat-option>
  </mat-select>
</div>
<!--Audios-->
<mat-grid-list *ngIf="images.length > 0" cols="2" rowHeight="2:1">
  <div *ngFor="let image of images">
    <mat-grid-tile>
      <img src="{{image.content}}" alt="">
    </mat-grid-tile>
  </div>
</mat-grid-list>
<!--Audios-->
<mat-grid-list *ngIf="audios.length > 0" cols="2" rowHeight="2:1">
  <div *ngFor="let audio of audios">
    <mat-grid-tile>
      <audio controls class="resource">
        <source src="{{audio.content}}" type="audio/ogg">
      </audio>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<!--Videos-->
<mat-grid-list *ngIf="videos.length > 0" cols="2" rowHeight="2:1.1">
  <div *ngFor="let video of videos">
    <mat-grid-tile>
      <video controls class="resource">
        <source src="{{video.content}}" type="video/mp4">
      </video>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<!--Texts-->
<ul *ngIf="texts.length > 0">
  <li *ngFor="let text of texts">{{text.content}}</li>
</ul>