<h2 class="mb-5">Nova Mídia</h2>
<form [formGroup]="formGroup">
  <div class="row">
    <!--Type-->
    <mat-select class="col-md-4 select" placeholder="Escolha um tipo de mídia:" (valueChange)="onResourceTypeChange($event)" formControlName="resourceType" required>
      <mat-option value="1">Texto</mat-option>
      <mat-option value="2">Imagem</mat-option>
      <mat-option value="3">Áudio</mat-option>
      <mat-option value="4">Vídeo</mat-option>
    </mat-select>
    <!--Content-->
    <mat-form-field class="col-md-8">
      <input matInput placeholder="Recurso" formControlName="resourceContent" maxlength="256" required>
    </mat-form-field>
  </div>
  <div class="row">
    <!--Institution-->
    <mat-select class="col-md-4 select" placeholder="Escolha uma instituicao" formControlName="resourceInstitution" required>
      <mat-option *ngFor="let institution of institutions" value="{{institution.id}}">{{institution.name}}</mat-option>
    </mat-select>
    <!--Copyrights-->
    <mat-form-field class="col-md-8">
      <input matInput placeholder="Licença de uso" formControlName="resourceCopyrights" maxlength="256" required>
    </mat-form-field>
  </div>
</form>

<div class="text-center mt-4">
  <button class="btn btn-success" (click)="saveResource()">Salvar</button>
</div>
