<h2 class="mb-5">{{groupName}}</h2>
<div class="mt-4 mb-4 col-md-12">
  <label><strong>Descrição:</strong></label> <span> {{groupDescription}}</span> 
  <br>
</div>
<div class="table-responsive table-top">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Capacidades</th>
        <th>Data de Nascimento</th>
        <th>Instituição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players" (click)="onPlayerClick(player)">
        <td>{{player.user.first_name}} {{player.user.last_name}}</td>
        <td>{{player.capability.join()}}</td>
        <td>{{player.birthdate}}</td>
        <td>{{player.institution}}</td>
      </tr>
    </tbody>
  </table>
</div>

