<section>
  <p>Escolha uma plataforma para o seu projeto:</p>
  <mat-select placeholder="Plataforma">
    <mat-option *ngFor="let platform of platforms" [value]="platform.name" (click)="checkPlatform(platform.id)">
      {{platform?.name}}
    </mat-option>
  </mat-select>
  <div class="text-center">
    <button type="submit" class="btn btn-success mr-2" (click)="closeDialog()">Escolher</button>
  </div>
</section>