<h2 class="mb-5">Usuários</h2>
<div class="float-right">
  <a class="btn btn-success" routerLink="/newuser">Adicionar</a>
</div>
<div class="clearfix"></div>
<mat-tab-group class="mb-3">
  <mat-tab label="Supervisores">
    <div class="table-responsive mb-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supervisor of supervisors">
            <td>{{supervisor.user.first_name}} {{supervisor.user.last_name}}</td>
            <td>{{supervisor.user.username}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-paginator [numberOfPages]="supervisorPages" (pageChange)="onSupervisorPageClick($event)"></app-paginator>
  </mat-tab>
  <mat-tab label="Facilitadores">
    <div class="table-responsive mb-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let helper of helpers">
            <td>{{helper.user.first_name}} {{helper.user.last_name}}</td>
            <td>{{helper.user.username}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-paginator [numberOfPages]="helperPages" (pageChange)="onHelperPageClick($event)"></app-paginator>
  </mat-tab>
</mat-tab-group>
