<h2 class="mb-5">{{playerName}}</h2>
<section>
  <label>Capacidades:</label> <span> {{player?.capability.capability}}</span> 
  <br>
  <label>Gênero:</label> <span> {{player?.gender}}</span>
  <br>
  <label>Aniversário:</label> <span> {{player?.birthdate | date:'dd/MM/yyyy'}}</span>
  <br>
</section>
<mat-tab-group class="mt-4">
  <mat-tab label="Sessões" *ngIf="gameSessions">
    <section>
      <div *ngFor="let session of gameSessions">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="col-md-4">
                {{session.game?.name}}
              </mat-panel-title>
              <mat-panel-description class="col-md-4">
                {{session.game?.mechanic?.name}}
              </mat-panel-description>
              <mat-panel-description class="col-md-4">
                {{session.time | date:'dd/MM/yy, HH:mm'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6">
                <label>Acertos:</label> {{session.hits}}
              </div>
              <div class="col-md-6">
                <label>Erros:</label> {{session.fails}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Pontuação:</label> {{session.score}}
              </div>
              <div class="col-md-6">
                <label>Sentimento:</label> {{session.feeling_rate}}
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </section>
  </mat-tab>
  <!--<mat-tab label="Atos" *ngIf="acts">

  </mat-tab>-->
</mat-tab-group>
