<form [formGroup]="formGroup">
  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="projectName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Objetivo" formControlName="projectObjective" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Tarefas gerais" formControlName="projectGeneralTask" required>
  </mat-form-field>
  <mat-tab-group class="mt-3">
    <mat-tab label="Jogadores">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Capacidades</th>
            <th>Família</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td><mat-checkbox (change)="checkPlayer(player.id)"></mat-checkbox></td>
            <td>{{player.user.first_name}} {{player.user.last_name}}</td>
            <td><span *ngFor="let capability of player.capability">{{capability.capability}}; </span></td>
            <td>{{player.user.player_datas[0].group?.name}}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="Supervisores">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Ocupação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supervisor of supervisors">
            <td><mat-checkbox (change)="checkSupervisor(supervisor.id)"></mat-checkbox></td>
            <td>{{supervisor.user.first_name}} {{supervisor.user.last_name}}</td>
            <td>{{supervisor.occupation?.occupation}}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="Facilitadores">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Habilidades</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let helper of helpers">
            <td><mat-checkbox (change)="checkHelper(helper.id)"></mat-checkbox></td>
            <td>{{helper.user.first_name}} {{helper.user.last_name}}</td>
            <td><span *ngFor="let skill of helper.skill">{{skill.skill}}; </span></td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
  <div class="text-center mt-4">
    <button class="btn btn-success" mat-button (click)="emitProjectStepOne()">Próximo</button>
  </div>
</form>
