<div class="row mt-2">
  <mat-select placeholder="Plataforma" class="mb-3 ml-3">
    <mat-option *ngFor="let platform of platforms" [value]="platform.name" (click)="checkPlatform(platform.id)">
      {{platform?.name}}
    </mat-option>
  </mat-select>
  <div *ngFor="let game of games" class="col-sm-12 col-md-6 mt-3">
    <mat-card>
      <mat-checkbox (change)="checkGame(game)" >
        <span class="title">{{game.name}}</span>
      </mat-checkbox>
      <div class="clearfix"></div>
      <br>
      <mat-card-subtitle>{{game.mechanic.name}}</mat-card-subtitle>
      <mat-card-content>
        <p>
          <span>Descrição: </span> {{game.mechanic.description}}
        </p>
        <p>
          <mat-select placeholder="Temática" required>
            <mat-option *ngFor="let thematic of thematics" [value]="thematic.name" (click)="checkThematic(thematic.id, game)">
              {{thematic.name}}
            </mat-option>
          </mat-select>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="text-center mt-4">
  <button class="btn btn-info mr-2" mat-button (click)="emitPreviousStep()">Anterior</button>
  <button class="btn btn-success mr-2" mat-button (click)="emitProjectStepTwo()">Próximo</button>
</div>