<h2 class="mb-5">{{title}}</h2>
<div *ngFor="let element of gameElements" >
  <!--<section *ngIf="element.component">-->
  <section>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="row">
          <mat-panel-title class="col-md-6">
            {{element.name}}
          </mat-panel-title>
          <mat-panel-description class="col-md-6">
            {{element.purpose}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section class="row">
          <div *ngFor="let resource of element.resources" class="col-md-4">
            <div class="card float-left">
              <div class="card-body">
                <h5 class="card-title">
                  {{resource.resourceType.name}} 
                  <mat-icon class="float-right" mat-raised-button (click)="openDialog(resource)">create</mat-icon>
                </h5>
                <p *ngIf="resource.resourceType.name === 'Texto'" class="card-text resource">{{resource.content}}</p>

                <img *ngIf="resource.resourceType.name === 'Imagem'" class="resource" src="{{resource.content}}" alt="Card image cap">

                <audio *ngIf="resource.resourceType.name === 'Áudio'" controls class="resource">
                  <source src="{{resource.content}}" type="audio/ogg">
                </audio>

                <video *ngIf="resource.resourceType.name === 'Vídeo'" controls class="resource">
                  <source src="{{resource.content}}" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </section>
      </mat-expansion-panel> 
    </mat-accordion>
  </section>

  <!--<section *ngIf="element.parameter">
    <mat-card class="mb-2 ">
      <span class="title">{{element.parameter.name}}</span>
      <mat-icon class="float-right" mat-raised-button>delete</mat-icon>
      <mat-card-subtitle>{{element.parameter.description}}</mat-card-subtitle>
      <mat-card-content class="row">
          <div class="col-md-4">
            <h5 class="card-title">
              Imagem
              <mat-icon class="float-right" mat-raised-button (click)="openImageDialog(element.parameter, element)">create</mat-icon>
            </h5>
            <img class="resource" src="{{element.resource.content}}" alt="Card image cap">
          </div>
      </mat-card-content>
    </mat-card>
  </section>-->
</div>



