<h2 class="mb-5">Jogos</h2>
<div class="float-right">
  <a class="btn btn-success" routerLink="/newgame">Adicionar</a>
</div>
<div class="table-responsive table-top">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Mecânica</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{game.name}}</td>
        <td>{{game.mechanic.name}}</td>
        <td>{{game.mechanic.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-paginator [numberOfPages]="pages" (pageChange)="onChangePageClick($event)"></app-paginator>