<h3 class="mb-2">Crie um novo parâmetro:</h3>
<div class="row"> 
  <mat-form-field class="col-md-12">
    <input matInput placeholder="Nome" required [(ngModel)]="parameter.name">
  </mat-form-field>
  <mat-form-field class="col-md-12">
    <input matInput placeholder="Descrição" required  [(ngModel)]="parameter.description">
  </mat-form-field>
  <mat-select placeholder="Tipo" required class="col-md-12" [(value)]="parameter.type">
    <mat-option value="symbolic">
      Simbólico
    </mat-option>
    <mat-option value="numeric">
      Numérico
    </mat-option>
  </mat-select>
</div>
<div  *ngIf="parameter.type == 'symbolic'">
  <hr>
  <section *ngFor="let attr of attrsCount | numberToArray" class="col-md-12">
    <mat-form-field>
      <input matInput placeholder="Atributo {{attr}}" [(ngModel)]="attrs[attr - 1]">
    </mat-form-field>
  </section>
  <button class="btn btn-info mr-2" (click)="addAttr()">+</button>
  <button class="btn btn-info" (click)="removeAttr()">-</button>
  <hr>
</div>
<div class="text-center mt-5">
  <button class="btn btn-success" (click)="onCreateClick()">Salvar</button>
</div>